# MySQL properties
mysql-hostname: localhost
mysql-port: 3306
mysql-database: {{ guacamole_db_name }}
mysql-username: {{ guacamole_db_username }}
mysql-password: {{ guacamole_db_password }}

# Additional settings
mysql-default-max-connections-per-user: 0
mysql-default-max-group-connections-per-user: 0
